{
    "branches": [
        "master",
        "next"
    ],
    "plugins": [
        "@semantic-release/exec",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/git",
        "@semantic-release/github",
        "conventional-changelog-conventionalcommits"
    ]
}